/* responsive styles  */

@media screen and (max-width:576px) {

    /* common styles  */
    .section-content,
    .banner-content,
    .banner-img-container,
    .extra-mile-content,
    .run-btn,
    .extra-mile-img-container,
    .bmi-calculation-chart,
    .bmi-calculation,
    .exercise-content {
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .nav-links,
    .banner-section,
    .extra-mile-section,
    .bmi-calculation-details {
        flex-direction: column;
    }

    .change-habits-img-container,
    .our-team-img-container,
    .footer-container,
    .prices-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .change-habits-section,
    .extra-mile-section,
    .bmi-calculation-section {
        margin-bottom: 60px;
    }

    .section-title {
        font-size: 1.8rem;
    }



    /* navbar  */

    .nav-links {
        display: none;
    }

    .menu-bar {
        display: block;
        color: var(--text-primary-color);
        font-size: 1.9rem;
    }

    /* banner section styles  */

    .banner-section {
        gap: 50px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .banner-content {
        margin-top: 50px;
    }

    .banner-title {
        font-size: 3.1rem;

    }

    .shape-style {
        font-size: 5.7rem;
    }

    .banner-btn-container {
        display: flex;
    }

    .banner-btn-container button {
        padding: 16px 12.9px;

    }

    .video-container {
        width: 138px;
        height: 70px;
        padding: 8px;
    }


    .workout-video {

        left: 52%;
        top: 40px;
    }


    .workout-video h4 {
        margin-top: 4px;
        font-size: 1.6rem;
    }

    .tutorial-video {
        width: 145px;
        left: 0px;
        top: 238px;
    }

    .tutorial-video>div {
        margin-top: 5px;
    }

    .circle i {
        font-size: 1rem;
    }


    .tutorial-video h5 {
        font-size: 1rem;
    }

    .tutorial-video p {
        font-size: 0.7rem;
    }

    /* change habits section styles  */



    .change-habits-img-container {
        gap: 35px;
    }

    /* extra mile section  */

    .extra-mile-section {
        padding: 25px 32px;
    }

    .extra-mile-content {
        margin-bottom: 30px;
    }

    .extra-mile-img-container img {
        object-fit: contain;
        object-position: 0% 0%;
    }

    /* training and exercise styles  */
    .exercise-img-container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 36px;
        margin-bottom: 25px;
    }

    .exercise-img-container-1,
    .exercise-img-container-4 {
        display: none;
    }



    .overlay-2 p,
    .overlay-3 p,
    .overlay-5 p,
    .overlay-6 p {

        font-size: 0.7rem;
        left: 8px;
    }

    /* bmi calculation styles  */


    .bmi-calculation-container {
        padding: 30px 0px;
    }

    .bmi-content {
        width: 90%;
        margin: 0 auto 32px auto;

    }

    .bmi-title {
        font-size: 1.7rem;
    }

    .bmi-calculation {
        margin-top: 42px;
    }




    /* meet our team styles  */
    .our-team-info {
        padding: 15px;
        margin-top: 40px;

    }

    /* price plan section  */


    .price-plan-section {
        margin-top: 70px;
    }

    .price {
        opacity: 90%;
        border-radius: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 100%;
        padding: 10px 60px;
        position: absolute;
        top: 170px;
        left: 0px;

    }

    .choose-option h4 {
        margin-top: 20%;
    }


    /* footer styles  */

    footer {
        padding-top: 25px;
        margin-top: 60px;
    }

    .footer-details {
        margin: 30px 0 0 0;
    }


}

/* Medium Device: 576px to 992 px  */

@media screen and (min-width:576px) and (max-width:992px) {



    .banner-section,
    .bmi-calculation-details {
        flex-direction: column;
    }

    .banner-content,
    .banner-img-container,
    .section-content,
    .exercise-content,
    .bmi-calculation-chart,
    .bmi-calculation,
    .bmi-content {
        width: 100%;
    }

    .section-title {
        font-size: 2.5rem;
    }

    /* navbar  */
    .container {
        width: 90%;
    }


    /* banner section  */
    .banner-section {
        margin-top: 0px;
    }

    .workout-video {

        left: 52%;
        top: 150px;
    }

    .tutorial-video {
        left: 20px;
        top: 550px;
    }


    /* change habit section  */
    .change-habits-img-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* run extra miles  */

    .extra-mile-img-container img {
        object-position: 66% 33%;
        border-radius: 18px;


    }


    /* Bmi calculation  */

    .bmi-content {
        padding-left: 35px;
    }

    .bmi-title {
        margin-top: 50px;
    }


    /* prices plan  */


    .prices-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .price {
        opacity: 90%;
        border-radius: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 100%;
        padding: 10px 60px;
        position: absolute;
        top: 40%;
        left: 0px;

    }


    /* footer  */
    .footer-container {
        grid-template-columns: 1fr;
        /* Two columns with equal width */

    }

    .footer-details {
        /* margin-bottom: 110px; */
        margin-left: 0;
    }


}