/* responsive styles  */

@media screen and (max-width:576px) {

    /* common styles  */
    .section-content,
    .banner-content,
    .banner-img-container,
    .extra-mile-content,
    .run-btn,
    .extra-mile-img-container,
    .bmi-calculation-chart,
    .bmi-calculation {
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .nav-links,
    .banner-section,
    .extra-mile-section,
    .bmi-calculation-details {
        flex-direction: column;
    }

    .change-habits-img-container,
    .our-team-img-container,
    .footer-container,
    .prices-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .change-habits-section,
    .extra-mile-section,
    .bmi-calculation-section {
        margin-bottom: 60px;
    }

    /* navbar  */

    .nav-links {
        display: none;
    }

    .menu-bar {
        display: block;
        color: var(--text-primary-color);
        font-size: 1.9rem;
    }

    /* banner section styles  */

    .banner-section {
        gap: 50px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .banner-content {
        margin-top: 50px;
    }

    .banner-title {
        font-size: 4.1rem;

    }

    .shape-style {
        font-size: 6.4rem;
    }

    .banner-btn-container {
        display: flex;
    }




    .workout-video {
        left: 190px;
        top: 40px;
    }

    .tutorial-video {

        left: 0px;
        top: 238px;
    }

    /* extra mile section  */

    .extra-mile-section {
        padding: 25px 32px;
    }

    .extra-mile-content {
        margin-bottom: 30px;
    }

    /* bmi calculation styles  */
    .bmi-content {
        width: 90%;
        margin: 0 auto 32px auto;

    }


    .bmi-calculation {
        margin-top: 42px;
    }

    /* meet our team styles  */
    .our-team-info {
        padding: 15px;
        margin-top: 40px;

    }

    /* price plan section  */


    .price-plan-section {
        margin-top: 70px;
    }

    /* footer styles  */

    footer {
        padding-top: 40px;
        margin-top: 60px;
    }

    .footer-details {
        margin: 30px 0 0 0;
    }


}