/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* global styles  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    /* outline: 1px solid red; */

}

:root {
    --text-primary-color: rgb(255, 255, 255);
    --text-secondary-color: rgba(255, 255, 255, 0.5);
    --font-and-background-color: rgb(230, 83, 60);
}



/* common styles  */
.display-flex {
    display: flex;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.bg-primary-color {
    background: rgb(0, 0, 0);
}

.bg-color {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.btn {
    padding: 16px 38px;
    border-radius: 42px;
    color: var(--text-primary-color);
    font-size: 15px;
    font-weight: 600;
    margin-right: 14px;
}

.btn-bg-color {
    background: var(--font-and-background-color);
    border: none;
}



/* header styles  */

/* navbar styles here  */

.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;

}


.navbar h3 {
    color: var(--font-and-background-color);
    font-size: 2.2rem;
    font-weight: 800;
}



.nav-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px;

}

.nav-item {
    list-style: none;
    margin-left: 45px;

}



.nav-link {
    text-decoration: none;
    color: var(--text-primary-color);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 400;
}

#home {
    padding: 6px 18px;
    border-radius: 46px;
    background: var(--font-and-background-color);
    font-weight: 600;

}

.home {
    margin: 0px;
}

.menu-bar {
    display: none;
}

/* banner styles  */

.banner-section {
    gap: 70px;
    margin-top: 44px;
    margin-bottom: 100px;
}

.banner-content {
    width: 60%;
    margin-top: 96px;
}

.banner-title {
    color: var(--text-primary-color);
    font-size: 4.2rem;
    font-weight: 900;

}

.shape-style {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 6.4rem;
    line-height: 0;
}

.banner-description {
    color: var(--text-secondary-color);
    font-size: 1rem;
    margin: 28px 0;
}

.banner-img-container {
    width: 35%;
}

.banner-img-container img {
    width: 100%;
    height: 100%;

}

.download-btn {
    border: 1px solid var(--text-primary-color);
    border-radius: 42px;
    background-color: transparent;
}


.banner-img-container {
    position: relative;
}

.video-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    width: 193px;
    height: 98px;
    padding: 18px;

}

.workout-video {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 230px;
    top: 130px;
}

.workout-video h4 {
    color: var(--text-primary-color);
    font-size: 2.4rem;
    font-weight: 900;
}

.workout-video p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}

.tutorial-video {
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    left: -100px;
    top: 425px;
}

.tutorial-video>div {
    gap: 8px;
    align-items: center;
}

.circle {
    background: var(--font-and-background-color);
    border-radius: 50%;
}

.circle i {
    color: rgb(250, 250, 249);
    font-size: 1.1rem;
    padding: 9.5px 12px;
}

.tutorial-video h5 {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}

.tutorial-video p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
}

/* main styles  */


/* footer styles  */


/* responsive styles  */

@media screen and (max-width:576px) {

    .nav-links,
    .banner-section {
        flex-direction: column;
    }

    /* navbar  */

    .nav-links {
        display: none;
    }

    .menu-bar {
        display: block;
        color: var(--text-primary-color);
        font-size: 30px;
    }

    /* banner section styles  */

    .banner-content,
    .banner-img-container {
        width: 100%;

    }

    .banner-section {
        gap: 50px;
        margin-top: 20px;
    }

    .banner-content {
        margin-top: 50px;
    }

    .banner-btn-container {
        display: flex;
    }

    .workout-video {
        left: 190px;
        top: 40px;
    }

    .tutorial-video {

        left: 0px;
        top: 238px;
    }

}